<!-- Interpolation -->
<h1>{{title}}</h1>

<!--Attribute Binding -->
<button type="submit" [disabled]="isDisbaled">{{buttonText}}</button>

<img [src]="imgSrc" width="100" alt="Angular Logo" />

<!-- Style Binding -->

<div [style.backgroundColor]="bgColor">
<h1 [style.fontSize]="fz30">Heading Title 1</h1>

<p [style]="multiProperty">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi aut tenetur quisquam, cumque nulla ut praesentium commodi iste ad fugiat reiciendis voluptates saepe ea hic voluptate, laboriosam necessitatibus quas tempora!</p>
</div>

<!-- Class Binding -->
<div [class.cardProperty]="addClass">
  <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim velit quaerat, natus doloremque totam minus id dicta voluptatum deserunt laboriosam sapiente harum maiores vero ratione, fugit illo ducimus ullam assumenda?</h3>
</div>

<div [class.cardProperty]="addNewClassess=='no'">
  <h3>Doloremque totam minus id dicta voluptatum deserunt laboriosam sapiente harum </h3>
</div>

<!--Event Binding -->
<button type="button" (click)="onIncrementHandler()">Increment</button>
<span>{{count}}</span>
<br/>
<br/>
<!--Two Way Binding with NgModal -->
<div>
<input type="text" [(ngModel)]="inputValue" />
<p>Input Value: {{inputValue}}</p>
</div>

<!--NgClass Binding -->
<div [ngClass]="cadrProperty">
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut nobis atque velit</p>
</div>
<!--NgStyle Binding -->
<div class="cardProperty" [ngStyle]="{'background-color':redColor}">
  <h5>Ng Style Binging</h5>
</div>
